    <script type="text/javascript">
      // $(".thumbnail").height(Math.max.apply(null, $(".thumbnail").map(function() { return $(this).height(); })));

      $(document).on("click", ".openAdvertModal", function()
      {
        var advertId = $(this).data('id');
        let advertTitle = $(this).data('title');
        let advertUsername = $(this).data('username');
        let advertText = $(this).data('text').toString();

        $(".modal-header #advertUsername").html(`<em>Submitted by: ${advertUsername}</em>`);
        $(".modal-header #adTitle").text(advertTitle);
        $(".modal-body #hidden").val(advertId);
        $(".modal-body #adContent").text(advertText);

        $('#approveAdvertForm').attr("action", `/adverts/${advertId}/approve?_method=PUT`);
        $('#deleteAdvertForm').attr("action", `/adverts/${advertId}/delete?_method=DELETE`);
      });
    </script>
  </body>
</html>
